VBox {
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

HBox{
    -fx-alignment: center ;
    -fx-padding: 2 ;
}

#infoLabel {
    -fx-text-fill: darkgreen;
    -fx-font-size: 24px;
    -fx-alignment: center;
}

#authorsLabel {
    -fx-text-fill: forestgreen;
    -fx-font-size: 16px;
    -fx-alignment: center;
}

#parametersLabel {
    -fx-font-size: 18px;
    -fx-alignment: center;
}

#labelBox {
    -fx-alignment: right;
}

#scrollPaneBox {
    -fx-border-color: rgba(0,0,0,0);
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.grid-cell {
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-padding: 10px;
    -fx-background-color: white;
}

.grid-label {
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-background-color: lightgray;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.animal-cell {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.grass-cell {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
}

.red-text {
    -fx-text-fill: red;
}